@model QL_ThuVien.Models.PHONG

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>PHONG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENPHONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENPHONG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VITRI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VITRI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAPHONG }) |
    @Html.ActionLink("Back to List", "Index")
</p>
