@using PagedList.Mvc;
@model PagedList.IPagedList<QL_ThuVien.Models.PHONG>
@{
    ViewBag.Title = "Phòng";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    bool isValidUser = QL_ThuVien.Intergrate.Services.Helper.SecurityHelper.HasPermission(HttpContext.Current);
    var emptyRooms = Html.Action("GetEmptyRooms", new { dateTimeSend = DateTime.Now, hourUse = 2 });
}

<body>
    <div class="test">
        <div class="header ml-0">
            <h2 class="position-relative" style="color: #440ccb ">DANH SÁCH PHÒNG</h2>
            <hr class="bg-dark"></hr>
        </div>
    </div>
    <div style="float: right; margin-bottom: 10px;">
        <a href="/Room/Create"> <button class="btn btn-info m-1">+ Thêm Phòng</button> </a>
        @*<button class="btn btn-success m-1">+ Thêm Từ File</button>*@
    </div>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Mã Phòng</th>
                <th>Tên Phòng</th>
                <th>Vị Trí</th>
                <th>Tình Trạng</th>
                <th class="text-center">Tổng số lượt mượn</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MAPHONG</td>
                    <td>@item.TENPHONG</td>
                    <td>@item.VITRI</td>
                    <td>
                        @if (emptyRooms.ToString().Contains(item.MAPHONG.ToString()))
                        {
                            <span style="color: green">Phòng trống</span>
                        }
                        else
                        {
                            if (item.CHITIETMUONPHONGs.Count == 0)
                            {
                                <span style="color: green">Phòng trống</span>
                            }
                            else
                            {
                                <span style="color: red">Đang sử dụng</span>
                            }
                        }
                    </td>
                    <td style="text-align: center">@item.CHITIETMUONPHONGs.Count</td>

                    @if (isValidUser)
                    {
                        <td class="text-center">
                            <a class="btn btn-primary btn-edit m-l-0 px-075" href="/Room/Detail/@item.MAPHONG" title="Thông tin chi tiết">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-primary btn-edit m-l-0 px-075" href="/Room/Edit/@item.MAPHONG" title="Chỉnh sửa thông tin">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-danger btn-edit m-l-0 px-075" onclick="DVNConfirm('Xóa', 'Phòng', '/Room/Delete', @item.MAPHONG)" title="Xóa">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </td>
                    }
                </tr>

            }
        </tbody>
    </table>
    @if (Model.Count == 0)
    {
        <div style="text-align: center; margin-top: 20px">Không tìm thầy kết quả</div>
    }
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions { LiElementClasses = new[] { "pagedList" } })

</body>
<style>
    .test {
        max-width: max-content;
        padding: 20px;
        display: block;
    }

    .styled-table {
        border-collapse: collapse;
        margin: auto;
        font-size: 0.9em;
        font-family: sans-serif;
        width: inherit;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

        .styled-table thead tr {
            background-color: #333333;
            color: #ffffff;
            text-align: left;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

            .styled-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            .styled-table tbody tr:last-of-type {
                border-bottom: 2px solid #333333;
            }
</style>
