@using PagedList.Mvc;
@model IEnumerable<QL_ThuVien.DTO.SachDTO>
@{
    ViewBag.Title = "Sách";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    bool isValidUser = QL_ThuVien.Intergrate.Services.Helper.SecurityHelper.HasPermission(HttpContext.Current);
}
<style>
    .dataTables_filter > label, .dataTables_length > label {
        font-size: 1rem;
    }

    table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 310px;
    }

    .table th {
        text-align: center;
        vertical-align: middle;
    }

    .table td, .table th {
        white-space: normal !important;
    }

    .short-tent {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        word-break: break-word;
        min-height: 3em;
    }

    a.btn.btn-secondary.btn-edit.m-l-0.px-075, a.btn.btn-danger.px-075 {
        padding-left: 0.75rem !important;
    }

    table.dataTable thead > tr > th {
        text-align: center;
        background-color: #333333;
        color: #ffffff;
    }
</style>
<body>
    <div class="test">
        <div class="header ml-0">
            <h2 class="position-relative" style="color: #440ccb ">KẾT QUẢ TÌM KIẾM</h2>
            <hr class="bg-dark"></hr>
        </div>
    </div>
    <div class="container">
        <div class="table">
            <table class="table" id="table_id" width="100%" cellspacing="0">
                <colgroup>
                    <col style="width: 15%;">
                    <col style="width: 8%;">
                    <col style="width: 15%;">
                    <col style="width: 8%;">
                    <col style="width: 8%;">
                    <col style="width: auto;">
                    <col style="width: 12%">
                    @*<col style="width: 10%;">*@
                </colgroup>
                <thead>
                    <tr class="text-center">
                        <th>Ảnh Bìa</th>
                        <th>Mã Sách</th>
                        <th>Tên Sách</th>
                        <th>NXB</th>
                        <th>Chủ Đề</th>
                        <th>Năm Xuất Bản</th>
                        <th>Số lượng tồn</th>
                        @*<th>Mô Tả</th>*@
                        <th class="text-center">Công Cụ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><img src="~/Assets/HinhAnhSP/@item.AnhBia" style="height: 10rem; width: 100%" alt="ANHBIA_@item.AnhBia" /></td>
                            <td class="text-center">@item.MaSach</td>
                            <td>
                                @item.TenSach
                            </td>
                            <td>@item.TenNXB</td>
                            <td>@item.TenChuDe</td>
                            <td class="text-center">@(item.NamXuatBan.ToShortDateString())</td>
                            @*<td class="text-center">@(item.GiaSach.ToString("#,###.##đ", new System.Globalization.CultureInfo("en-US", false).NumberFormat))</td>*@
                            <td class="slbs" sid="@item.MaSach">
                                @Html.Raw(item.GetHtmlSLTon())
                            </td>
                            @*<td><div class="short-tent">@item.MoTa</div></td>*@
                            @if (isValidUser)
                            {
                                <td class="text-center">
                                    <a class="btn btn-primary btn-edit m-l-0 px-075" href="/Book/Detail/@item.MaSach" title="Thông tin chi tiết">
                                        <i class="fa fa-info" aria-hidden="true"></i>
                                    </a>
                                    <a class="btn btn-primary btn-edit m-l-0 px-075" href="/Book/BanSao/@item.MaSach" title="Bản sao sách">
                                        <i class="fa fa-file-text" aria-hidden="true"></i>
                                    </a>
                                    <a class="btn btn-primary btn-edit m-l-0 px-075" href="/Book/Edit/@item.MaSach" title="Chỉnh sửa thông tin">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a class="btn btn-danger btn-edit m-l-0 px-075 btn-liquidation-book" data-mas="@item.MaSach" data-dg="@item.GiaSach" title="Thanh Lý">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>
</body>
<style>
    .short-tent {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        word-break: break-word;
        min-height: 3em;
    }

    a.btn.btn-secondary.btn-edit.m-l-0.px-075, a.btn.btn-danger.px-075 {
        padding-left: 0.75rem !important;
    }
</style>
<style>
    .ul.pagination {
        display: flex;
        padding: 0 !important;
        margin: 0 !important;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }
</style>

