@{
    ViewBag.Title = "Lập Phiếu Mượn Sách";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var carts = Session["cartBooks"] as List<QL_ThuVien.Models.BANSAOSACH> ?? new List<QL_ThuVien.Models.BANSAOSACH>();
    var thes = ViewData["TheThuViens"] as List<QL_ThuVien.Models.THETHUVIEN>;
}

<body>
    <div class="test">
        <div class="header ml-0">
            <h2 class="position-relative" style="color: #440ccb ">TÀI LIỆU CHO MƯỢN</h2>
        </div>
    </div>
    <div class="container">
        <form method="post" name="Borrow">
            <div class="row mb-2 align-items-center">
                <div class="col-6">
                    <select class="form-control select2-qltv" name="the_thu_vien">
                        @foreach (var item in thes)
                        {
                            <option value="@item.MATTV">@(item.SODIENTHOAI + " - " + item.HOTEN)</option>
                        }
                    </select>
                </div>
                <div class="col-6 d-flex align-items-center">
                    <button type="submit" id="btn-borrow" class="btn btn-primary" style="text-transform: uppercase; min-width: 120px; margin: 0;">Lập phiếu mượn</button>
                    <div id="btn-clear" class="btn btn-danger" style="text-transform: uppercase; min-width: 120px; margin: 0 0 0 10px;">Xóa tất cả</div>
                </div>
            </div>
        </form>
        <div class="table">
            <table class="table" id="table_id" width="100%" cellspacing="0">
                <colgroup>
                    <col style="width: 15%;">
                    <col style="width: 8%;">
                    <col style="width: 15%;">
                </colgroup>
                <thead>
                    <tr class="text-center">
                        <th>Mã Bản Sao</th>
                        <th>Mã Sách</th>
                        <th class="text-center">Công Cụ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in carts)
                    {
                        <tr>
                            <td>@item.MABANSAO</td>
                            <td>@item.MASACH</td>
                            <td class="text-center">
                                <span class="@(!item.TINHTRANG ? "btn-remove-cart-book btn-danger" : "btn-secondary") btn btn-edit m-l-0 px-075" title="Xóa bản sao khỏi phiếu mượn">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <form method="post" action="/Book/BorrowBook" name="Borrow">
        <input type="text" id="mathe" name="mathe" />
    </form>
    <script>
        $('.btn-remove-cart-book').click(function () {
            var row = $(this).closest('tr');
            removeCartBooks($(row).find('td:eq(0)').html(), $(row).find('td:eq(1)').html(), function () {
                $('#table_id').DataTable().row(row).remove().draw();
                $('.tooltip').hide();
            });
        });
        $('#btn-clear').click(function () {
            clearCartBooks();
        });
    </script>
</body>