@model QL_ThuVien.Models.Sach
@{
    ViewBag.Title = "Thêm sách";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    string errs = "";
}

<div class="test">
    <div class="header ml-0">
        <h2 class="position-relative" style="color: #440ccb ">PHIẾU THÊM SÁCH</h2>
        <hr class="bg-dark"></hr>
    </div>
</div>

<div class="container">
    @using (Html.BeginForm("Create", "Book", FormMethod.Post, new { @id = "frmBookAction", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-25">
                <label for="fname">Mã nhà xuất bản <span style="color: red">(*)</span>:</label>
            </div>
            <div class="col-75">
                @Html.DropDownList("MaNXB", Session["NXBSelectList"] as SelectList, "-Vui lòng chọn Nhà xuất bản-", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaNXB, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="fname">Mã chủ đề <span style="color: red">(*)</span>:</label>
            </div>
            <div class="col-75">
                @Html.DropDownList("MaChuDe", Session["CDSelectList"] as SelectList, "-Vui lòng chọn Chủ đề-", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaChuDe, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lname">Tên sách <span style="color: red">(*)</span>:</label>
            </div>
            <div class="col-75">
                @Html.EditorFor(model => model.TenSach, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenSach, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lname">Mô tả <span style="color: red">(*)</span>:</label>
            </div>
            <div class="col-75">
                @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lname">Năm xuất bản <span style="color: red">(*)</span>:</label>
            </div>
            <div class="col-75">
                @Html.EditorFor(model => model.NamXuatBan, new { htmlAttributes = new { type = "date", @class = "form-control", max = DateTime.Now.ToString("yyyy-MM-dd"), min = "1760-01-01" } })
                @Html.ValidationMessageFor(model => model.NamXuatBan, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lname">Giá sách <span style="color: red">(*)</span>:</label>
            </div>
            <div class="col-75">
                @Html.EditorFor(model => model.GiaSach, new { htmlAttributes = new { @class = "form-control", @min = 0, @max = 1000000000 } })
                @Html.ValidationMessageFor(model => model.GiaSach, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lname">Ảnh bìa <span style="color: red">(*)</span>:</label>
            </div>
            <div class="col-75">
                <input type="file" accept="image/*" name="uploadImg" class="form-control" value="" />
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="slbansao">Số lượng bản sao <span style="color: red">(*)</span>:</label>
            </div>
            <div class="col-75">
                <input type="number" id="slbansao" name="slbansao" min="1" max="1000000000" required class="form-control" value="1" />
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <input value="Thêm" onclick="SubmitConfrim()" class="btn btn-primary" />
        </div>
    </div>
    }
    <div>
        @Html.ActionLink("Trở về trang trước", "Index")
    </div>
</div>
<style>
    .test {
        max-width: max-content;
        padding: 20px;
        display: block;
    }

    .header {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    * {
        box-sizing: border-box;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
        font-size: 16px;
    }

    input[type=submit] {
        background-color: #440ccb;
        color: white;
        margin: auto;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
        max-width: 250px;
    }

    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }

    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<script type="text/javascript">
    var SubmitConfrim = () => {
        Swal.fire({
            icon: 'warning',
            title: 'Cảnh Báo!',
            html: '<div>Bạn có muốn thực hiện hành động này?</div>',
            showCancelButton: true,
            confirmButtonText: 'Tạo',
            cancelButtonText: 'Hủy'
        }).then((result) => {
            if (result.isConfirmed) {
                $('#frmBookAction').submit()
            }
        })
    };
</script>
