@model QL_ThuVien.DTO.PhieuTra

@{
    ViewBag.Title = "Chi Tiết Phiếu Trả";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var viphams = Session["ViPhams"] as List<QL_ThuVien.Models.VIPHAM>;
}

<h2>Thông tin chi tiết</h2>

<div>
    <div class="row">
        <div class="col-3">Mã phiếu Trả</div>
        <div class="col-9">@Model.MaPhieuTra</div>
    </div>
    <div class="row">
        <div class="col-3">Mã phiếu Mượn</div>
        <div class="col-9">@Model.MaPhieuMuon</div>
    </div>
    <div class="row" style="color:red; font-weight:bold;">
        <div class="col-3">Mã nhân viên</div>
        <div class="col-9">@Html.DisplayFor(model => model.MANHANVIEN)</div>
    </div>
    <div class="row" style="color:red; font-weight:bold;">
        <div class="col-3">Tên nhân viên</div>
        <div class="col-9">@Html.DisplayFor(model => model.HOTEN_NV)</div>
    </div>
    <div class="row" style="color:red; font-weight:bold;">
        <div class="col-3">SĐT nhân viên</div>
        <div class="col-9">@Html.DisplayFor(model => model.SODIENTHOAI_NV)</div>
    </div>
    <div class="row">
        <div class="col-3">Mã thẻ thư viện</div>
        <div class="col-9">@Html.DisplayFor(model => model.MANSD)</div>
    </div>
    <div class="row">
        <div class="col-3">Tên người mượn</div>
        <div class="col-9">@Html.DisplayFor(model => model.HOTEN_ND)</div>
    </div>
    <div class="row">
        <div class="col-3">SĐT người mượn</div>
        <div class="col-9">@Html.DisplayFor(model => model.SODIENTHOAI_ND)</div>
    </div>
    <div class="row">
        <div class="col-3">Ngày mượn</div>
        <div class="col-9">@(Model.NGAYMUON.ToString("dd/MM/yyyy HH:mm:ss"))</div>
    </div>
    <div class="row">
        <div class="col-3">Ngày trả</div>
        <div class="col-9">@(Model.NgayTra.ToString("dd/MM/yyyy HH:mm:ss"))</div>
    </div>
</div>

<h4 style="margin-left:10px;">Thông tin sách</h4>
<table width="100%" cellspacing="0" class="table-bordered">
    <colgroup>
        <col style="width: 10%;">
        <col style="width: 10%;">
        <col style="width: 65%;">
        <col style="width: 15%;">
    </colgroup>
    <thead>
        <tr class="text-center">
            <th>Mã Sách</th>
            <th>Mã Bản Sao</th>
            <th>Tên Sách</th>
            <th>Vi Phạm</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ChiTietPhieuTras)
        {
            var vp = viphams.Where(x => x.MAVIPHAM == item.MaViPham).FirstOrDefault();
            <tr>
                <td class="text-center masach">@item.MaSach</td>
                <td class="text-center mabansao">@item.MaBanSao</td>
                <td class="tensach">
                    @item.TenSach
                </td>
                <td>
                    @vp.TENVIPHAM
                </td>
            </tr>
        }
    </tbody>
</table>