  @model IEnumerable<QL_ThuVien.Models.Sach>
@{
    ViewBag.Title = "Sách";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    bool isValidUser = QL_ThuVien.Intergrate.Services.Helper.SecurityHelper.HasPermission(HttpContext.Current);
    var NXBList = Session["NXBList"] as List<QL_ThuVien.Models.NhaXuatBan>;
    var CDList = Session["CDList"] as List<QL_ThuVien.Models.ChuDe>;
    var SachList = Session["SachList"] as List<QL_ThuVien.Models.SACH>;
}
<style>
    .dataTables_filter > label, .dataTables_length > label {
        font-size: 1rem;
    }

    table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 310px;
    }
        .table th {
            text-align: center;
            vertical-align: middle;
        }
        .table td, .table th {
            white-space: normal !important;
        }
    .short-tent {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        word-break: break-word;
        min-height: 3em;
    }
    a.btn.btn-secondary.btn-edit.m-l-0.px-075, a.btn.btn-danger.px-075 {
        padding-left: 0.75rem !important;
    }
    table.dataTable thead > tr > th {
        text-align: center;
        background-color: #333333;
        color: #ffffff;
    }
</style>
<body>
    <div class="test">
        <div class="header ml-0">
            <h2 class="position-relative" style="color: #440ccb ">DANH SÁCH TÀI LIỆU</h2>
            <hr class="bg-dark"></hr>
        </div>
    </div>
    <div style="float: right; margin-bottom: 10px;">
        <a href="@Url.Action("Create")" class="btn btn-success m-1">
            <span>
                <span><img src="https://img.icons8.com/office/22/null/add--v1.png" /></span> Thêm Sách
            </span>
        </a>
        <a href="@Url.Action("CreateFromFile")" class="btn btn-success m-1"><span><img src="https://img.icons8.com/doodle/22/null/microsoft-excel-2019.png" /></span> Thêm Từ File</a>
        <a href="@Url.Action("ExportFromFile")" class="btn btn-success m-1"><span><img src="https://img.icons8.com/arcade/22/null/print.png" /></span> Xuất File</a>
    </div>
    <div class="container">
        <div class="table">
            <table class="table" id="table_id" width="100%" cellspacing="0">
                <colgroup>
                    <col style="width: 15%;">
                    <col style="width: 8%;">
                    <col style="width: 15%;">
                    <col style="width: 8%;">
                    <col style="width: 8%;">
                    <col style="width: auto;">
                    <col style="width: 12%">
                    @*<col style="width: 10%;">*@
                </colgroup>
                <thead>
                    <tr class="text-center">
                        <th>Ảnh Bìa</th>
                        <th>Mã Sách</th>
                        <th>Tên Sách</th>
                        <th>NXB</th>
                        <th>Chủ Đề</th>
                        <th>Năm Xuất Bản</th>
                        <th>Số lượng tồn</th>
                        @*<th>Mô Tả</th>*@
                        <th class="text-center">Công Cụ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><img src="~/Assets/HinhAnhSP/@item.AnhBia" style="height: 10rem; width: 100%" alt="ANHBIA_@item.AnhBia" /></td>
                            <td class="text-center">@item.MaSach</td>
                            <td>
                                @item.TenSach
                            </td>
                            <td>@NXBList.SingleOrDefault(x => x.MaNXB == item.MaNXB).TenNXB</td>
                            <td>@CDList.SingleOrDefault(x => x.MaChuDe == item.MaChuDe).TenChuDe</td>
                            <td class="text-center">@(item.NamXuatBan.ToShortDateString())</td>
                            @*<td class="text-center">@(item.GiaSach.ToString("#,###.##đ", new System.Globalization.CultureInfo("en-US", false).NumberFormat))</td>*@
                            <td class="slbs" sid="@item.MaSach">   
                                <span>Đang thống kê...</span>
                            </td>
                            @*<td><div class="short-tent">@item.MoTa</div></td>*@
                            @if (isValidUser)
                            {
                                <td class="text-center">
                                    <a class="btn btn-primary btn-edit m-l-0 px-075" href="/Book/Detail/@item.MaSach" title="Thông tin chi tiết">
                                        <i class="fa fa-info" aria-hidden="true"></i>
                                    </a>
                                    <a class="btn btn-primary btn-edit m-l-0 px-075" href="/Book/BanSao/@item.MaSach" title="Bản sao sách">
                                        <i class="fa fa-file-text" aria-hidden="true"></i>
                                    </a>
                                    <a class="btn btn-primary btn-edit m-l-0 px-075" href="/Book/Edit/@item.MaSach" title="Chỉnh sửa thông tin">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a class="btn btn-danger btn-edit m-l-0 px-075" onclick="DVNConfirm('Xóa', 'Sách', '/Book/Delete', @item.MaSach)" title="Xóa">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>
</body>
<script>
    $(document).ready(function () {
        //$('#table_id').DataTable().destroy();
        $('#table_id').DataTable({
            pageResize: false,
            scrollY: 500,
            scrollX: true,
            lengthMenu: [
                [5, 10, 25, 50, -1],
                [5, 10, 25, 50, 'Tất cả'],
            ],
            language: {
                "lengthMenu": "Hiện _MENU_ trường",
                "zeroRecords": "Không tìm thấy dữ liệu!",
                "info": "_PAGE_ / _PAGES_",
                "infoEmpty": "Không có dữ liệu!",
                "infoFiltered": "(Lọc dữ liệu từ _MAX_ bản ghi)",
                "paginate": {
                    "first": "<<",
                    "last": ">>",
                    "next": ">",
                    "previous": "<"
                },
                "loadingRecords": "Đang tải...",
                "processing": "",
                "search": "Tìm kiếm:",
            },
            displayLength: 5,
            dom: "<'toolbar'><'row'<'col-sm-5'l><'col-sm-7 t_filter'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-4'i><'col-sm-6'p>>",
            fnInitComplete: function () {
                /*$('div.toolbar').html('Custom tool bar!')   */
            }
        });        
    });
    $(".slbs").each(function (e, val) {
        var id = $(this).attr("sid");
        loadSLBS(this, id);
    })
    function loadSLBS(that, _id) {
        $.ajax({
            url: "/Book/CountSLBS",
            data: {
                id: _id,
            },
            success: function (data) {
                // $('#img_song').html(data);
                var content = data == "0" ? '<span style="color:red">Chưa nhập hàng</span>' : '<span style="color:green">' + data + '<span/>';
                $(that).html(content);
            }
        });
    }
</script>

