@model IEnumerable<QL_ThuVien.DTO.PhieuTra>
@{
    ViewBag.Title = "Danh Sách Phiếu Trả";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    bool isValidUser = QL_ThuVien.Intergrate.Services.Helper.SecurityHelper.HasPermission(HttpContext.Current);
    <style>
        .borrow td {
            color: #ac0c0c;
        }

        .borrowed td {
            color: #016601;
        }
    </style>
}

<body>
    <div class="test">
        <div class="header ml-0">
            <h2 class="position-relative" style="color: #440ccb ">DANH SÁCH PHIẾU TRẢ</h2>
        </div>
    </div>
    <div class="container">
        <div class="table">
            <table class="table" id="table_id" width="100%" cellspacing="0">
                <colgroup>
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                </colgroup>
                <thead>
                    <tr class="text-center">
                        <th>Mã Phiếu Trả</th>
                        <th>Mã Phiếu Mượn</th>
                        <th>Ngày Mượn</th>
                        <th>Ngày Trả</th>
                        <th>Tên Người Mượn</th>
                        <th>SĐT Người Mượn</th>
                        <th class="text-center">Công Cụ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MaPhieuTra</td>
                            <td>@item.MaPhieuMuon</td>
                            <td>@item.NGAYMUON.ToString("dd/MM/yyyy HH:mm:ss")</td>
                            <td>@item.NgayTra.ToString("dd/MM/yyyy HH:mm:ss")</td>
                            <td>@item.HOTEN_ND</td>
                            <td>@item.SODIENTHOAI_ND</td>
                            @if (isValidUser)
                            {
                                <td class="text-center">
                                    <a class="btn btn-primary btn-edit m-l-0 px-075" href="/Book/DetailsSendedBackBook?maphieutra=@item.MaPhieuTra" title="Thông tin chi tiết">
                                        <i class="fa fa-info" aria-hidden="true"></i>
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('#table_id').DataTable().order([0, 'desc']).draw()
        }, 1000);
    });
</script>