@model IEnumerable<QL_ThuVien.Models.ChiTietMuonPhong>
@{
    ViewBag.Title = "Danh sách mượn phòng chờ duyệt";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    int count = 1;
}
<style>
    .dataTables_filter > label, .dataTables_length > label {
        font-size: 1rem;
    }

    table.dataTable {
        /*table-layout: fixed;*/
    }

    .short-tent {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        word-break: break-word;
        min-height: 3em;
    }
    table.dataTable thead > tr > th {
        text-align: center;
        background-color: #333333;
        color: #ffffff;
    }
</style>
<div class="container">
    <div class="table">
        <table class="table table-striped" id="table_id" width="100%" cellspacing="0">
            <colgroup>
                <col style="width: 3%;">
                <col style="width: auto;">
                <col style="width: auto;">
                <col style="width: 15%;">
            </colgroup>
            <thead>
                <tr class="text-center">
                    <th>STT</th>
                    <th>Tên người sử dụng</th>
                    <th>Tên phòng</th>
                    <th>Thời gian mượn</th>
                    <th>Thời gian trả</th>
                    <th class="text-center">Công Cụ</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(count++)</td>
                        <td class="text-center">@Html.Action("GetUserName", new { id = item.MaNSD })</td>
                        <td class="text-center">@Html.Action("GetRoomName", new { id = item.MaPhong })</td>
                        <td class="text-center">@item.ThoiGianMuon</td>
                        <td class="text-center">@item.ThoiGianTra</td>
                        <td class="text-center">
                            <a class="btn btn-success px-075 text-white" onclick="confirmApproval('Duyệt', 'phiếu mượn', '/RegistrationQueue/ApproveBorrowRoom', @count , @item.MaNSD, @item.MaPhong, '@item.ThoiGianMuon', '@item.ThoiGianTra')" @*onclick="DVNConfirm('Duyệt', 'Phiếu đăng ký', '/RegistrationQueue/ApproveBorrowRoom', new { maNSD = @item.MaNSD, maPhong = @item.MaPhong, thoiGianMuon = '@item.ThoiGianMuon.ToString("yyyy-MM-dd hh:mm:ss")', thoiGianTra = '@item.ThoiGianTra.ToString("yyyy-MM-dd hh:mm:ss")' })"*@>
                                <span><img src="https://img.icons8.com/cotton/28/null/checklist--v1.png" /></span> 
                            DUYỆT</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    var confirmApproval = (functionName, objectName, url, stt, maNSD, maPhong, thoiGianMuon, thoiGianTra) => {
        Swal.fire({
            icon: 'warning',
            title: 'Cảnh Báo!',
            html: '<div>Bạn có chắc muốn thực hiện hành động này?</div>'
                + '<div>Chi tiết: <span style="font-weight: bold">' + functionName.toLowerCase() + ' ' + objectName.toLowerCase() + ' có số thứ tự là <span style="color: red">' + stt + '</span></span></div>',
            showCancelButton: true,
            confirmButtonText: functionName,
            cancelButtonText: 'Hủy'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: url,
                    data: { maNSD, maPhong, thoiGianMuon, thoiGianTra },
                    success: function (r) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Thành Công',
                            text: 'Đã ' + functionName.toLowerCase() + ' ' + objectName.toLowerCase() + ' có stt là ' + stt + ' !',
                            showConfirmButton: true,
                            timer: 2000
                        }).then((result) => {
                            location.reload();
                        }); 
                    }
                });
            }
        })
    };
    $(document).ready(function () {
        $('#table_id').DataTable().destroy();
        $('#table_id').DataTable({
            pageResize: false,
            scrollY: 500,
            scrollX: true,
            lengthMenu: [
                [5, 10, 25, 50, -1],
                [5, 10, 25, 50, 'Tất cả'],
            ],
            language: {
                "lengthMenu": "Hiện _MENU_ trường",
                "zeroRecords": "Không tìm thấy dữ liệu!",
                "info": "_PAGE_ / _PAGES_",
                "infoEmpty": "Không có dữ liệu!",
                "infoFiltered": "(Lọc dữ liệu từ _MAX_ bản ghi)",
                "paginate": {
                    "first": "<<",
                    "last": ">>",
                    "next": ">",
                    "previous": "<"
                },
                "loadingRecords": "Đang tải...",
                "processing": "",
                "search": "Tìm kiếm:",
            },
            displayLength: 5,
            dom: "<'toolbar'><'row'<'col-sm-5'l><'col-sm-7 t_filter'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-4'i><'col-sm-6'p>>",
            /*dom: "<'toolbar'>ftrip",*/
            fnInitComplete: function () {
                /*$('div.toolbar').html('Custom tool bar!');*/
            }
        });
    });
</script>
